* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Alegreya Sans SC';
	font-size: 1.2rem;
	min-height: 100%;
	background-color: bisque;
}

.grid-container {
	display: grid;
	grid-gap: 10px;

	grid-template: 
		"h" auto
		"n" auto
		"m" 10rem
		"a" auto
		"f" auto;
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}



header {
	grid-area: h;
	background-color: lightcoral;
}

nav {
	grid-area: n;
	background-color: grey;
}

section {
	grid-area: m;
	background-color: lightgreen;
}

aside {
	grid-area: a;
	background-color: teal;
}

footer {
	grid-area: f;
	background-color: thistle;
}


@media (min-width: 640px) {
	.grid-container {

		grid-template:
		"h  h" 4rem
		"n  n" 2rem
		"m  a" auto
		"f  f" 3rem / 
		65% 35%; 
	}
}

@media (min-width: 768px) {
	.grid-container {

		grid-template:
		"h  h  h" 5rem
		"n  m  a"  auto
		"f  f  f" 4rem /
		15% 55% 30%; 
	}
}